@import "tailwindcss";

:root {
  --primary: #1a4885;
  --title: #131313;
  --desc: #131313;
  --background: #effcf9;
}

@theme inline {
  --color-primary: var(--primary);
  --color-title: var(--title);
  --color-desc: var(--desc);
  --color-background: var(--background);
  --font-poppins: var(--font-poppins);
}


body {
  font-family: var(--font-poppins);
}