@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --primary: #1a4885;
  --title: #131313;
  --desc: #131313;
  --background: #effcf9;
}

@theme inline {
  --color-primary: var(--primary);
  --color-title: var(--title);
  --color-desc: var(--desc);
  --color-background: var(--background);
  --font-poppins: var(--font-poppins);
}


body {
  font-family: var(--font-poppins);
  color: var(--desc);
}

.scrollDiv {
  direction: rtl;
}

/* Keep content normal */
.scrollContent {
  direction: ltr;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #e9e7e7;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  /* primary color */
  border-radius: 50vh;
}

.scrollDiv::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
  /* darker on hover */
}

.container {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 600px) {
  .container {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.scrollContent h2 {
  @apply text-xl font-semibold text-primary mb-4;
}

.scrollContent h3,
.scrollContent h4,
.scrollContent h5,
.scrollContent h6 {
  @apply text-lg font-semibold mt-3;
}

.scrollContent p {
  @apply text-sm mt-3;
}

.scrollContent ul {
  @apply list-disc mt-10 pl-6 flex flex-col gap-y-5 text-sm;
}

.scrollContent a {
  @apply text-primary hover:underline;
}

.blogSingle p {
  @apply text-base font-normal text-desc mb-4;
}

.blogSingle a {
  @apply text-primary underline;
}

.blogSingle h2 {
  @apply text-2xl font-semibold text-primary mb-2 mt-4;
}

.blogSingle h3 {
  @apply text-xl font-semibold text-primary mb-2 mt-4;
}